ul.skill-item {
  list-style: none !important;
}

ul.skill-item:before,
ul.skill-item:after {
  content:"";
  display:table;
}
ul.skill-item:after {
  clear:both;
}

ul.skill-item li {
  display: inline-block;
  background-color: rgba(0,0,0,.15);
  padding: 3px 8px;
  float: centre;
  margin: 0 4px 4px 0;
}

/*get rid of left float and margin right for centre*/

span.image.logo img {
	height:100px;
}